<table class="table table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Full name</th>
      <th>Ability</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    {{#each user in model}}
      <tr>
        <td>{{#link-to 'users.edit' user}}{{user.email}}{{/link-to}}</td>
        <td>{{user.position}}</td>
        <td>{{user.fullName}}</td>
        <td>{{user.ability}}</td>
        <td>{{formatted-date user.createdAt 'MMMM Do, YYYY [at] h:mm a'}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan='4'>
          No users found.
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
